body {
	background-color: #FF7F50; 
	width: 850px;
	margin: 35px auto;
}

header {
	text-align: center;
	background-color: #FF8F68; 
}

h1,h2 {
	font-family: 'Racing Sans One', cursive;
}

h1 {
	padding: 25px;
}

h2 {
	font-size: 24px;
}

#userForm {
	padding: 22px;
}

#submit {
	border-radius: 7px;
}

.track {
	width: 800px;
	border-style: solid;
	border-color: #885555;
	border-width: 2px 0 2px 0;
	margin: 7px 0 7px 0 ;
}

.cars {
	width: 200px;
}

#car1 {
	margin-left: 0px;
}
#car2 {
	margin-left: 0px;
}
